#### 9.List comprehensions

In [2]:
list_range = list(range(0,10,2))
print(list_range)

list_com = [i for i in range(0,10,2)]
print(list_com)
list_con = [i for i in range(0,10)if i%2 != 0]
print(listlist_con)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [4]:
list_op = [i**2 for i in range(0,10,2)]
print(list_op)
a_string = 'I love you and do you love me?'
list_up = [i.upper() for i in a_string]
print(list_up)

[0, 4, 16, 36, 64]
['I', ' ', 'L', 'O', 'V', 'E', ' ', 'Y', 'O', 'U', ' ', 'A', 'N', 'D', ' ', 'D', 'O', ' ', 'Y', 'O', 'U', ' ', 'L', 'O', 'V', 'E', ' ', 'M', 'E', '?']

In [5]:
list_gen = (i**2 for i in range(10) if i%2 ==0)
print(list_gen)
list_gen1 = [i+4 for i in list_gen]
print(list_gen1)

<generator object <genexpr> at 0x0000018171975F48>
[4, 8, 20, 40, 68]

#### 10. lambda expression, map, and zip functions

In [6]:
list3 = list(range(0,25))
print(list3)

def is_multiple3(x):
    """Return True if x is a multiple of 3"""
    return x % 3 == 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [7]:
list(filter(is_multiple3, list3))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [8]:
#lambda는 단 하나의 input만 받을 수 있다.
list4 = list(filter(lambda x: x%3 == 0 , list3))
list4

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [9]:
print(list(map(lambda x: x**2, list4)))
print([i**2 for i in list4])

[0, 9, 36, 81, 144, 225, 324, 441, 576]
[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [10]:
list(map(lambda x: x**2, filter(lambda x: x%3 == 0, list3)))
#list3은 3의 배수

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [11]:
[x**2 for x in list3 if x%3 ==0]

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [17]:
car = ['Santafe','Mini','Pony','Grandeur','Sonata','Excel','elantra']
car.sort(key=len)
print(car)
print(sorted(car))
print(min(car),max(car))
max(car, key=lambda i: i.lower())
min(car, key=lambda i: i.lower())

['Mini', 'Pony', 'Excel', 'Sonata', 'Santafe', 'elantra', 'Grandeur']
['Excel', 'Grandeur', 'Mini', 'Pony', 'Santafe', 'Sonata', 'elantra']
Excel elantra

'elantra'

In [14]:
#zip : handles multiple iterables concurrently
players = ['Ryu','Son','Park','Kwon']
goals = [7,20,15,7]
for last_name, goal in zip(players, goals):
    print(f'{last_name}:{goal}')

Ryu:7
Son:20
Park:15
Kwon:7

#### 11. Two and multi dimensional lists

In [15]:
a = [[1,2,3,4,],[5,6,7,8],[9,10,11,12]]
print(a)
for row in a:
    for column in row:
        print(column, end=" ")
    print()

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
1 2 3 4
5 6 7 8
9 10 11 12